<app-navbar></app-navbar>
<section>
    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center ">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://img.freepik.com/premium-vector/flat-illustration-design-cybersecurity_9206-2585.jpg?w=1800"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 pt-4 pb-3 shadow p-3 mb-4 bg-dark rounded border border-secondary mt-5">
          <h3 class="mb-2 pb-2 pb-md-0  text-center text-light">Registration Form</h3>
            <form>

              <div class="row">
                <div class="col-md-6 mb-1">

                  <div class="form-outline">
                    <input type="text" id="firstName" class="form-control form-control-lg" />
                    <label class="form-label text-light" for="firstName">First Name</label>
                  </div>

                </div>
                <div class="col-md-6 mb-1">

                  <div class="form-outline">
                    <input type="text" id="lastName" class="form-control form-control-lg" />
                    <label class="form-label text-light" for="lastName">Last Name</label>
                  </div>

                </div>
              </div>
              <div class="row">
                  <div class="col-md-6 mb-1 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" class="form-control form-control-lg" />
                      <label class="form-label text-light" for="emailAddress">Email</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-1 pb-2">
  
                    <div class="form-outline">
                      <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                      <label class="form-label text-light" for="phoneNumber">Phone Number</label>
                    </div>
  
                  </div>
                </div>

              <div class="row">
                  <div class="col-md-6 mb-1">
  
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" />
                      <label class="form-label text-light" for="firstName">Password</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-1">
  
                    <div class="form-outline">
                      <input type="text" id="lastName" class="form-control form-control-lg" />
                      <label class="form-label text-light" for="lastName">Confirm Password</label>
                    </div>
                  </div>
                </div>

              

                <div class="text-center text-lg-start mt-2 pt-1">
                  <button class="btn btn-outline-light mb-2">Register</button>
                <p class="pt-1 mb-0 text-light">Already have an account? <a href="/login"
                    class="link-danger">Login</a></p>
              </div>

            </form>
          
        </div>
      </div>
    </div>
   
  </section>
