<app-navbar></app-navbar>
<app-carousel></app-carousel>
<div class="text-center bg-dark text-white">
    <div class="container pt-5">
        <p class="cat">Top Chart: Movies</p>
        <div class="row">
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/Fyj4bdyb294S6M25E4CvPQ/738x416.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/DwR3ldPe-AAH2-2Lk5dJyw/738x416.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/cXVsKbD0Sk-ogzcoNmj6aA/738x416.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/BkCQwrg5nkdzmB4uocPNhQ/670x377.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
        </div>
        <hr>
        <p class="cat">Top Chart: TV Shows</p>
        <div class="row mt-1">
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/TFK62rQMTTWVNoPgxjIkPQ/738x416.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/WhpeVjuxJ9w-XfYxHAGe2g/738x416.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/78-I7VenST4ztZYfwMf6AQ/738x416.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/BkCQwrg5nkdzmB4uocPNhQ/670x377.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
        </div>
        <hr>
        <p class="cat">Sci-Fi</p>
        <div class="row mt-1">
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/h8oGFN-jdPeHY8j3EM_WnQ/670x377.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/BkCQwrg5nkdzmB4uocPNhQ/670x377.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/q8QlFpnNct0G9kpRmyMyNw/670x377.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/BkCQwrg5nkdzmB4uocPNhQ/670x377.webp" alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
        </div>
        <hr>
        <p class="cat">Browse by Category</p>
        <div class="row mt-1">
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/Features116/v4/87/fa/d3/87fad327-555f-5880-cc56-184e98d92e69/f00aad7c-4fa8-49ae-a526-4b80e40be9b8.lsr/738x416fe.webp"
                    alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/Features116/v4/e9/5c/69/e95c69cd-2e2c-3dbd-19bb-059829bb45c6/21088e4d-dbe3-40f0-92a7-d224570df5b9.lsr/738x416fe.webp"
                    alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/Features126/v4/a4/68/71/a46871ca-c975-acdb-e156-8fa6f7f7f846/c7a405d5-f215-4c31-8bfb-0dcd6a2ba606.lsr/738x416fe.webp"
                    alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
            <div class="col-lg-3">
                <img class="movieImg shadow mb-1 rounded"
                    src="https://is1-ssl.mzstatic.com/image/thumb/Features126/v4/6a/79/4b/6a794bae-9806-279f-6090-6a0bd4820f5f/e71d3911-8b3b-4e91-9214-e928dd7e88d6.lsr/738x416fe.webp"
                    alt="">
                <p class="details">heading</p>
                <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
            </div>
        </div>
        <hr>

    </div>
</div>  

<div class="text-center bg-black text-white">
    <div class="container pt-5">
        <div class="row text-center bg-black">
            
            <div class="col-6">
                <h2>Enjoy on your TV</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, perferendis.</p>
            </div>
            <div class="col-6">
                <video
                    src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-in-0819.m4v"
                    autoplay loop muted></video>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6 ">
                <img class="showImg"
                    src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
                    alt="">
                <div class="row border border-light border-2 rounded">
                    <div class="col-2 ">
                        <img class="tv-show"
                            src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png"
                            alt="">
                        <!-- <i class="bi bi-download"></i> -->
                    </div>
                    <div class="col-8">
                        <h5 class="mt-3">Strenger Things</h5>
                        <p class="text-left">Science fiction, Horror, Drama</p>
                    </div>
                    <div class="col-1 mt-4">
                        <i class="bi bi-download"></i>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2>Download your shows and watch offline</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, perferendis.</p>
            </div>
        </div>
        <hr>
        <div class="row text-center bg-black">
            <div class="col-6">
                <h2>Create profiles for kids</h2>
                <p>Send children on adventures with their favourite characters in a space made just for them—free with
                    your membership.</p>
            </div>
            <div class="col-6">
                <img src="https://occ-0-2368-2186.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABVr8nYuAg0xDpXDv0VI9HUoH7r2aGp4TKRCsKNQrMwxzTtr-NlwOHeS8bCI2oeZddmu3nMYr3j9MjYhHyjBASb1FaOGYZNYvPBCL.png?r=54d"
                    autoplay loop muted>
            </div>
        </div>
    </div>
</div>
<!-- <mat-button>Click</mat-button> -->