<nav class="navbar navbar-expand-lg navbar-light bg-black p-2">
    <div class="container-fluid">
        <a class="navbar-brand text-light" routerLink="">SFlix
            <img class="app-logo" src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" alt="Movie App Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item">
                    <a class="nav-link text-light " aria-current="page" routerLink="/movies">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/tvShows">TV shows</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="/anime">Anime</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" routerLink="404">Schedule</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link text-light dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item text-light" href="#">Documentries</a></li>
                        <li><a class="dropdown-item text-light" href="#">Sports</a></li>
                        <li><a class="dropdown-item text-light" href="#">Podcasts</a></li>
                    </ul>
                </li> -->
                <!-- search -->
                <form class="d-flex">
                    <input class="form-control w-auto bg-light me-2" type="search" placeholder="Search" aria-label="Search">
                    <i class="bi bi-search text-light me-2 pt-2"></i>
                </form>
            </ul>
            <div>
                <button class="btn btn-outline-light me-2" routerLink="/login">Log In</button>
                <button class="btn btn-outline-light" routerLink="/register">Sign Up</button>
            </div>
            <!-- user -->
            <!-- <div class="d-flex gap-2">
                <i class="bi bi-person-circle text-light h2 pt-1 me-2"></i>
            </div>
            <button class="btn btn-outline-light" type="submit">Logout</button> -->
        </div>
    </div>
</nav>