<app-navbar></app-navbar>
<section>
    
    <div class="text-center bg-dark text-white">
        <div class="container pt-5">
            <p class="cat h5">Top Chart: TV Shows</p>
            <div class="row">
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/yz8wdRYi6Dput1ZLlsV0MA/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/canoqvu3Hzg4sLVO2U4TQw/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/PWsYggMXgU6kQrxaB3MZPQ/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/v_Oue2lmChyhjAfjMi_0eg/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
            </div>
            <hr>
            <div class="row mt-1">
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/UbqKgHISX2yxGI_UfPieQg/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/q8QlFpnNct0G9kpRmyMyNw/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/7ectjt3JgH_BV66UyseyHg/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/ezusa3yqzCsXk3K-gGIlFQ/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
            </div>
            <hr>
            <div class="row mt-1">
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/JdmLVQN99mIa15_uECg4uw/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <!-- <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/l1GWYR-J4UvmK7849F472A/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/97liMx1hwAc7jcp5zDXp8Q/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div> -->
            </div>
        </div>
    </div>
    
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-4 bg-dark border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a class="navbar-brand text-light" routerLink="">
                <img class="app-logo mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1"
                    src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" alt="Movie App Logo">
            </a>
            <span class="mb-3 mb-md-0 text-white">@ 2024 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex ">
            <li class="ms-3">
                <a href="/" class="text-white">
                    <i class="bi bi-twitter-x" width="25" height="25"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="/" class="text-white">
                    <i class="bi bi-instagram" width="25" height="25"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="/" class="text-white">
                    <i class="bi bi-facebook" width="25" height="25"></i>
                </a>
            </li>
        </ul>
    </footer>
</section>
