<app-navbar></app-navbar>
<section>
    <div class="text-center bg-dark text-white">
        <div class="container pt-5">
            <p class="cat h5">Top Chart: Movies</p>
            <div class="row">
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/Fyj4bdyb294S6M25E4CvPQ/738x416.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/DwR3ldPe-AAH2-2Lk5dJyw/738x416.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/cXVsKbD0Sk-ogzcoNmj6aA/738x416.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/DCj5c2CndQsWCj9zkGGa5Q/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
            </div>
            <hr>
            <div class="row mt-1">
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/TFK62rQMTTWVNoPgxjIkPQ/738x416.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/WhpeVjuxJ9w-XfYxHAGe2g/738x416.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/78-I7VenST4ztZYfwMf6AQ/738x416.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/yj6AjgIcNlSHzmA0A6GOEA/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
            </div>
            <hr>
            <div class="row mt-1">
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/lgskq6n1xkUI5DOyA5tWWQ/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/-3oatvZH3fTAWNtggsbGGw/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/l1GWYR-J4UvmK7849F472A/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
                <div class="col-lg-3">
                    <img class="movieImg shadow mb-1 rounded"
                        src="https://is1-ssl.mzstatic.com/image/thumb/97liMx1hwAc7jcp5zDXp8Q/670x377.webp" alt="">
                    <p class="details">heading</p>
                    <p class="details">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni!</p>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-4 bg-dark border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a class="navbar-brand text-light" routerLink="">
                <img class="app-logo mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1"
                    src="https://cdn-icons-png.flaticon.com/512/1038/1038100.png" alt="Movie App Logo">
            </a>
            <span class="mb-3 mb-md-0 text-white">@ 2024 Company, Inc</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex ">
            <li class="ms-3">
                <a href="/" class="text-white">
                    <i class="bi bi-twitter-x" width="25" height="25"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="/" class="text-white">
                    <i class="bi bi-instagram" width="25" height="25"></i>
                </a>
            </li>
            <li class="ms-3">
                <a href="/" class="text-white">
                    <i class="bi bi-facebook" width="25" height="25"></i>
                </a>
            </li>
        </ul>
    </footer>

</section>
